* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

body {
    font-size: 16px;
    width: 100%;
    margin: 0;
    background: white;
    font-family: 'Ubuntu', sans-serif;
    display: grid;
    grid-template-rows: min-content auto min-content;
}

header {
    display: flex;
    justify-content: space-between;
    padding: .5em 1.2em;
    text-align: center;
    font-size: 2rem;
    border-bottom: 1px solid gray;
    background: rgba(255, 255, 255, .5)
    
}

.logo {
    font-family: 'Sacramento', cursive;
    cursor: default;
}

.nav_open {
    background: unset;
    border: unset;
    padding: 0;
    font-size: inherit;
    cursor: pointer;
}

.nav_open:hover,
.nav_open:focus {
    color: rgb(84, 187, 221);
}

nav {
    position: fixed;
    z-index: 10;
    height: 100%;
    width: 90%;
    top: 0;
    right: 0;
    padding: .75em 1.2em;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #f2a0d8;
    color: white;
    display: grid;

    display: none;
}

.nav_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_close {
    font-size: 3rem;
}

.nav_link {
    text-decoration: unset;
    color: inherit;
    border-bottom: 1px dashed white;
    align-self: center;
    padding: 1em 0;
}

.nav_link:hover,
.nav_link:focus,
.nav_close:hover,
.nav_close:focus {
    color: rgb(84, 187, 221);
    cursor: pointer;
    outline: none;
}

footer {
    background: #f2a0d8;
    border-top: 1px solid gray;
    display: grid;
}

.footerContainer {
    padding: 1.25em 1em 1em 1em;
    border-bottom: 1px solid gray;
}

.footer_title {
    margin: 0 0 .5em 0;
    text-align: center;
}

.footer_contactForm {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.footer_contactForm_input {
    margin-bottom: 1em;
    font-size: 1rem;
    padding: .5em .25em;
    border-radius: 5px;
    border: 1px solid gray;
    font-family: inherit;
}

.footer_contactForm_input-msg {
    height: 5em;
}

.footer_contactForm_base {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_contactForm_btn {
    width: 25%;
    padding: 0.5em 1.2em;
    cursor: pointer;
    background: gray;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    margin: 0 0 1em 0;
}

.footer_contactForm_btn:hover,
.footer_contactForm_btn:focus {
    background: rgb(184, 184, 184);
    color: #c57faf;
}

.logo-footer {
    text-align: right;
    font-size: 1.5rem;
}

.designSignature {
    background: black;
    color: inherit;
    text-decoration: unset;
    display: flex;
    justify-content: center;
    align-items: bottom;
    padding: .25em 0;
}

.designSignature p {
    margin: 0;
    color: white;
    opacity: .75;
    font-weight: bold;
    font-size: .75rem;
}

.designSignature p:first-child {
    margin-right: 1.5em;
}

.designSignature p:last-child {
    margin-left: 1.5em;
}

/* HOME PAGE */

.intro {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

.intro_img {
    max-width: 80%;
    max-height: 75%;
    margin: 1em auto 1em auto;
    border-radius: 5px;
    border: 1px solid gray;
}

.socialsContainer {
    display: flex;
    justify-content: center;
}

.socials_btn {
    min-width: 75px;
    padding: 0 0 .15em 0;
    font-size: 4rem;
    margin: 0 .5em 1rem .5em;

    background: transparent;
    border: none;
    color: #f2a0d8;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid transparent;
}

.socials_btn img {
    width: 4rem;
    height: 3.75rem;
}

.socials_btn:hover {
    border-bottom: 3px solid #f2a0d8;
}

.intro_text {
    width: 100%;
    max-width: max-content;
    margin: 0 auto;
    padding: 0 .75em;
    font-size: 1.5rem;
}

.intro_text * {
    margin: 0;
}

.intro_name {
    font-family: 'Sacramento', cursive;
    font-size: 12vw;
}

.intro_tagLine {
    text-align: right;
}

.moreInfo {
    background: #f2a0d8;
    padding: 1em;
    color: black;
    text-align: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.about_title {
    margin-top: 0;
}

.moreInfo_showreel {
    border-radius: 5px;
    max-width: 560px;
    border: 1px solid gray;
}

#projects {
    padding: 1em;
    margin-bottom: .25em;
}

.projects_title {
    font-size: 2.5rem;
    text-align: center;
    width: max-content;
    margin: 0 auto .25em auto;
}

.projects_breakdown {
    display: grid;
    background: rgba(242, 160, 216, .5);
    padding: 1em .5em 1em .5em;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 1em;
}

.projects_current,
.recent_job {
    border-radius: 5px;
    padding: .25em .5em;
}

.projects_current,
.recent_job {
    background: rgba(255, 255, 255, .75);
    border: 1px solid gray;
}

.projects_current {
    margin: 0 0 1em 0;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.recent_job {
    margin-bottom: .5em;
}

.recent_job * {
    margin: .25em 0;
}

.recent_job:last-child {
    margin-bottom: 0;
}

.job_name {
    font-weight: bold;
    text-transform: uppercase;
}

.job_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.job_info_label {
    font-weight: bold;
}

.projects_spotlightContainer {
    display: grid;
    grid-template-columns: auto fit-content;
    justify-items: center;
    align-items: center;
    width: 100%;
    background: transparent;
    border: unset;
    cursor: pointer;
    font-size: 1.25rem;
}

.spotlight_text {
    padding-left: .5em;
    margin: 0 0 .5em 0;
}

.projects_spotlightBtn {
    color: white;
    font-size: inherit;
    margin: 0;
    width: min-content;
}

.projects_spotlightBtn img {
    filter: brightness(0);
}

.projects_spotlightBtn:hover {
    border-bottom-color: black;
}

/* MEDIA PAGE */

.pageIntro {
    padding: 1em;
}

.film {
    background: #f2a0d8;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 1em;
}

.gallery {
    padding: 1em;
}

.gallery_imagesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    overflow: hidden;
    background: black;
    border-radius: 5px;
    border: 1px solid gray;
}

.gallery_img {
    overflow: hidden;
    cursor: pointer;
}

.gallery_img img {
    transition: transform .5s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.gallery_img img:hover {
    opacity: .75;
    transform: scale(1.25);
    overflow: hidden;
}