* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
    background: white;
    background-image: url(../images/bluePinkBigCrop.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: .8em 1.2em;
    text-align: center;
    font-size: 2rem;
    border-bottom: 1px solid gray;
    background: rgba(255, 255, 255, .5)
    
}

.nav_open {
    background: unset;
    border: unset;
    padding: 0;
    font-size: inherit;
    cursor: pointer;
}

.nav_open:hover,
.nav_open:focus {
    color: rgb(84, 187, 221);
}

nav {
    position: fixed;
    height: 100%;
    width: 90%;
    top: 0;
    right: 0;
    padding: .75em 1.2em;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: gray;
    color: white;
    display: grid;

    display: none;
}

.nav_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_close {
    font-size: 3rem;
}

.nav_link {
    text-decoration: unset;
    color: inherit;
    border-bottom: 1px dashed white;
    align-self: center;
    padding: 1em 0;
}

.nav_link:hover,
.nav_link:focus,
.nav_header:hover,
.nav_header:focus {
    color: rgb(84, 187, 221);
    cursor: pointer;
    outline: none;
}

.intro {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    border-bottom: 3px dashed rgb(184, 184, 184); 
}

.intro_img {
    max-width: 80%;
    max-height: 75%;
    margin: 1em auto 1em auto;
    border: 1px solid rgb(84, 187, 221);
    box-shadow: 0 0 20px rgb(84, 187, 221);
    border-radius: 5px;
}

.intro_text {
    width: 100%;
    max-width: max-content;
    margin: 0 auto;
    padding: 0 .75em;
    font-size: 1.5rem;
    /* background: rgba(255, 253, 253, 0.9); */
}

.intro_text * {
    margin: 0;
}

.intro_name {
    font-size: 3.5rem;
    color: rgb(84, 187, 221);
    -webkit-text-stroke: 1px black;
}

.intro_tagLine {
    text-align: right;
}

.moreInfo {
    background: rgb(184, 184, 184);
    padding: 1em;
    color: white;
    text-align: center;
}

.about_title {
    margin-top: 0;
}

.moreInfo_showreel {
    border-radius: 5px;
    max-width: 560px;
}

.projects {
    padding: 1em;
    border-top: 3px dashed rgb(184, 184, 184);
    border-bottom: 3px dashed rgb(84, 187, 221);
}

.projects_title {
    font-size: 3rem;
    text-align: center;
    /* background: rgba(255, 253, 253, 0.9); */
    color: rgb(84, 187, 221);
    width: max-content;
    margin: 0 auto .25em auto;
    -webkit-text-stroke: 1px black;
}

.projects_breakdown {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    background: rgba(248, 205, 238, 0.863);
    padding: 1em .5em;
    border-radius: 5px;
}

.projects_current,
.recent_job,
.projects_spotlightContainer {
    border-radius: 5px;
    padding: .25em .5em;
}

.projects_current {
    background: white;
    margin: 0 0 1em 0;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.recent_job {
    margin-bottom: .5em;
}

.recent_job * {
    margin: .25em 0;
}

.recent_job:nth-child(odd){
    background-color: white;
}

.recent_job:nth-child(even){
    /* background-color: rgba(84, 187, 221, 0.815); */
    background-color: white;
}

.recent_job:last-child {
    margin-bottom: 1em;
}

.job_name {
    font-weight: bold;
    text-transform: uppercase;
}

.job_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.job_info_label {
    font-weight: bold;
}

.projects_spotlightBtn {
    font-size: inherit;
    border: unset;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(84, 187, 221);
    margin: 0 3em;
    background: transparent;
    padding: .5em;
    align-self: center;
}

.projects_spotlightBtn * {
    margin: 0;
}

.spotlight_link {
    margin-bottom: .25em;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: underline;
}

.spotlight_pin {
    color: black;
}

.projects_spotlightBtn:hover,
.projects_spotlightBtn:focus {
    background: rgb(84, 187, 221);
    box-shadow: 2px 2px 5px black;
    color: white;
}

footer {
    background: #23B2FC;
    display: grid;
}

.footerContainer {
    padding: 1em;
    border-bottom: 1px solid gray;
}

.footer_title {
    margin: 0 0 .5em 0;
    text-align: center;
}

.socialsContainer {
    display: flex;
    justify-content: center;
}

.socials_btn {
    padding: 0;
    font-size: 4rem;
    margin: 0 .5em 1rem .5em;

    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.socials_btn:hover {
    color: rgb(252, 147, 228);
}

.footer_contactForm {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.footer_contactForm_input {
    margin-bottom: 1em;
    font-size: 1rem;
    padding: .25em;
    border-radius: 5px;
    border: 1px solid gray;
}

.footer_contactForm_input-msg {
    height: 5em;
}

.footer_contactForm_btn {
    width: 25%;
    padding: 0.5em 1.2em;
    cursor: pointer;
    background: rgb(252, 147, 228);
    color: white;
    border-radius: 5px;
    margin: 0 0 1em 0;
}

.footer_contactForm_btn:hover,
.footer_contactForm_btn:focus {
    background: rgb(184, 184, 184);
}

.designSignature {
    background: black;
    color: inherit;
    text-decoration: unset;
    display: flex;
    justify-content: center;
    align-items: bottom;
    padding: .5em 0;
}

.designSignature p {
    margin: 0;
    color: white;
    opacity: .75;
    font-weight: bold;
}

.designSignature p:first-child {
    margin-right: 1.5em;
}

.designSignature p:last-child {
    margin-left: 1.5em;
}
